h1 {
    font-size: 2em;
    text-align: center;
    margin: 2em auto;
    font-family: 'Lato';
    letter-spacing: .2em;
    text-transform: uppercase;
    width: max-content;
    position: relative;
}
h1::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: -7px;
    width: 370px;
    height: 0px;
    background-color: aqua;
    z-index: -1;
    transition: height .3s ease;
}
h1:hover::before {
    height: 40px;
    transition: height .5s ease;
}